.details {
	display: block;
	box-sizing: border-box;
	width: 100%;
	border: 1px solid var(--bg-light);
	border-radius: 10px;
}

.details__summary {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 6px 20px 6px 40px;
	color: var(--color-light-text);
	background-color: var(--bg-dark);
	border-radius: 10px 10px 0 0;
	transition: border-radius var(--transition);

	& span {
		margin-right: auto;
	}
}

.details--hidde .details__summary {
	border-radius: 10px;
}

.details__content {
	max-height: 100vh;
	opacity: 1;
	transition: max-height var(--transition), opacity var(--transition);

	& p {
		margin: 0;
	}
}

.details--hidde .details__content {
	max-height: 0;
	opacity: 0;
}

.details__content--hidde {
	display: none;
}
