.details {
	padding-top: 30px;
	padding-right: var(--offset-page);
	padding-left: var(--offset-page);
	padding-bottom: 30px;
	box-sizing: content-box;
}

.details__summary::-webkit-details-marker {
	display: none;
}

.details__summary {
	position: relative;
	padding-right: var(--offset-page);
	list-style-type: none;
	font-weight: 900;
	font-size: 16px;
	line-height: 24px;
	cursor: pointer;

	@media (min-width: @min-lg) {
		font-size: 18px;
		line-height: 26px;
	}

	&::after {
		content: '';
		position: absolute;
		top: 50%;
		right: 0;
		display: inline-block;
		width: 20px;
		height: 20px;
		background-image: url(../../img/icon/plus.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		transform: translateY(-50%);
		transition: transform var(--transition-duration) var(--transition-timing-function);
	}
}

.details--open .details__summary::after {
	transform: translateY(-50%) rotate(-45deg);
}

.details__content {
	padding-right: var(--offset-page);

	& p,
	& ul,
	& ol {
		margin: 0;
		font-size: 13px;

		&:not(:last-child) {
			margin-bottom: 1em;
		}

		&:first-child {
			padding-top: 1em;
		}
	}

	& li:not(:last-child) {
		margin-bottom: 0.5em;
	}
}
