.details__content {
	max-height: 0;
	overflow: hidden;
	opacity: 0;
	-webkit-transition: max-height var(--transition), opacity var(--transition);
	-o-transition: max-height var(--transition), opacity var(--transition);
	transition: max-height var(--transition), opacity var(--transition);
}

.details-visible .details__content {
	max-height: 190px;
	overflow: auto;
	opacity: 1;
}

.details_h .details__content {
	display: none;
}

details > button {
	padding: 0;
	font-size: none;
	font-family: none;
	text-align: inherit;
	background: 0 0;
	border: 0;
	border-radius: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.details {
	display: block;
	box-sizing: border-box;
	width: 100%;
	border: 1px solid var(--bg-light);
	border-radius: 10px;
}

.details__summary {
	margin: 0;
	display: flex;
	align-items: center;
	padding: 6px 20px 6px 40px;
	color: var(--color-light-text);
	background-color: var(--bg-dark);
	border-radius: 10px;

	& span {
		margin-right: auto;
	}
}

.details[open] .details__summary {
	border-radius: 10px 10px 0 0;
}
