.page-footer {
	background-color: var(--bg-dark);
	color: #85818c;
	font-size: 12px;
	line-height: 16px;
}

.page-footer__col {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.page-footer__page-content {
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.page-footer__social-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
}

.page-footer__social-item {

	&:not(:last-child) {
		margin-right: 15px;
	}
}

.page-footer__social-link {
	display: flex;
	align-items: center;
	width: 20px;
	height: 20px;
}
