.page-footer {
	--color-footer-text: #85818c;
	font-size: 12px;
	line-height: 16px;
	color: var(--color-footer-text);
	background-color: var(--bg-dark);

	& a {
		color: inherit;
	}
}

// desktop
@media (min-width: @min-md) {
	.page-footer__col {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
	}

	.page-footer__page-content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.page-footer__social-list {
		display: flex;
		flex-wrap: wrap;
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	.page-footer__social-item {

		&:not(:last-child) {
			margin-right: 15px;
		}
	}

	.page-footer__social-link {
		display: flex;
		align-items: center;
		width: 20px;
		height: 20px;

		&:focus-visible {
			outline-width: 2px;
			outline-style: double;
			outline-color: var(--color-footer-text);
			outline-offset: 2px;
		}
	}

	.page-footer__social-link svg {
		fill: var(--color-footer-text);
	}

	.page-footer__social-link--instagram:hover svg {
		fill: url(#a);
	}

	.page-footer__social-link--vk svg .center {
		fill: var(--bg-dark);
	}

	.page-footer__social-link--vk:hover svg {
		fill: #2787f5;

		& .center {
			fill: #fff;
		}
	}

	.page-footer__social-link--youtube svg .center {
		fill: var(--bg-dark);
	}

	.page-footer__social-link--youtube:hover svg {
		fill: #ff0000;

		& .center {
			fill: #fff;
		}
	}

	.page-footer__social-link--telegram svg .center {
		fill: var(--bg-dark);
	}

	.page-footer__social-link--telegram:hover svg {
		fill: url(#a1);

		& .center {
			fill: #fff;
		}
	}

	.page-footer__social-link--facebook svg .center {
		fill: var(--bg-dark);
	}

	.page-footer__social-link--facebook:hover svg {
		fill: #1877f2;

		& .center {
			fill: #fff;
		}
	}
}

// mobile
@media (max-width: @max-md) {
	.page-footer__col {
		padding: 0;
	}

	.page-footer__nav-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	.page-footer__nav-item {
		position: relative;
		flex-grow: 1;
		box-sizing: border-box;

		& svg {
			display: block;
			margin: 13px auto 10px;
			fill: var(--color-text);
		}
	}

	.page-footer__nav-item:not(:last-child) {
		border-right: 1px solid #504b58;
	}

	.page-footer__nav-link {
		display: block;
		padding: 10px 5px 8px;
		font-weight: 700;
		font-size: 15px;
		line-height: 18px;
		font-family: var(--font-bebas);
		text-align: center;
		color: var(--color-light-text);
		text-transform: uppercase;
		text-decoration: none;
		letter-spacing: 2px;
		transition: color var(--transition);
	}

	.page-footer__nav-link {

		&.active {
			color: var(--color-text);
		}

		&:hover {
			color: var(--color-text);
		}

		&:focus-visible {
			outline-width: 1px;
			outline-style: double;
			outline-color: #d1bda5;
			outline-offset: -2px;
		}

		&.active {

			&::after {
				content: url(../../img/icon/page-footer__nav-link-active.svg);
				position: absolute;
				top: -13px;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
}
