.program__header {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 68.75vw;
	min-height: 250px;
	margin-right: calc(var(--offset-page) * -1);
	margin-left: calc(var(--offset-page) * -1);
	background-image: linear-gradient(to top, #414141, transparent), url(../../img/program/bg-header-buttocks.jpg);
	background-repeat: no-repeat;
	background-position: center bottom 60px;
	background-size: cover;

	@media (min-width: @min-md) {
		height: calc(68.75vw - 160px);
	}

	@media (min-width: @min-xl) {
		height: 803px;
		background-position: center bottom 120px;
	}
}

.program__heading {
	max-width: 77%;
	margin: 0 0 20px;
	font-weight: 900;
	font-size: 28px;
	line-height: 30px;
	font-family: var(--font-bebas);
	color: var(--bg-body);
	text-transform: uppercase;
	letter-spacing: 4px;

	@media (min-width: @min-lg) {
		font-size: 44px;
		line-height: 48px;
	}

	& span {
		display: inline-block;
		width: 100%;
		font-size: 15px;

		@media (min-width: @min-lg) {
			font-size: 22px;
		}
	}
}

.program__info {
	margin: 0 calc(var(--offset-page) * -1);
	padding-top: 14.5px;
	padding-bottom: 14px;
	color: var(--bg-body);
	background-color: var(--color-light-text);

	@media (min-width: @min-lg) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		padding-top: 20px;
		padding-bottom: 21px;

		.btn {
			padding-top: 20px;
			padding-bottom: 20px;
			border-radius: 37px;
		}
	}
}

@media(max-width: @max-lg) {
	.program__btn {
		display: block;
		width: fit-content;
		margin: 22px auto;
	}
}

.program__header-list {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style-type: none;

	@media (max-width: @max-lg) {
		gap: 20px;
	}
}

.program__header-item {
	font-size: 10px;
	font-size: 14px;

	@media (min-width: @min-lg) {
		padding: 17px 0 18px;

		&:not(:last-child) {
			padding-right: 40px;
			border-right: 1px solid var(--bg-body);
		}

		&:not(:first-child) {
			padding-left: 40px;
		}
	}
}

.program__header-item .level-program {

	@media (max-width: @max-lg) {
		gap: 2px;

		& span {
			width: 16px;
			height: 4px;
		}
	}
}

.program__header-list-title {
	display: block;
	font-weight: 900;
	font-size: 14px;
	line-height: 20px;
	color: var(--color-dark-text);

	@media (min-width: @min-lg) {
		font-size: 20px;
		line-height: 28px;
	}
}

.program__description-list-wrap {
	border: 1px solid var(--color-light-text);

	@media (max-width: @max-md) {
		margin-right: calc((var(--offset-page) - 5px) * -1);
		margin-left: calc((var(--offset-page) - 5px) * -1);
	}

	& h2 {
		color: var(--color-dark-text);
	}
}

.program__description-list {
	padding: 0;
	padding-left: 24px;
	list-style-type: none;
}

.program__description-item {
	position: relative;

	&::before {
		content: '';
		display: inline-block;
		width: 10px;
		height: 10px;
		margin-right: 8px;
		background-color: var(--color-light-text);
		border-radius: 50%;
	}
}

.inventory-wrap {
	background-color: var(--color-light-text);

	@media (max-width: @max-md) {
		margin-right: calc(var(--offset-page) * -1);
		margin-left: calc(var(--offset-page) * -1);
	}

	& h2 {
		color: var(--color-dark-text);
	}
}

.stock-list.no-js {
	overflow-x: auto;
	overflow-y: hidden;
	scroll-snap-type: x mandatory;
}

.no-js .stock-item {
	flex-shrink: 0;
	scroll-snap-align: center;
}
