// viewport
@max-sm: 575px;
@min-sm: 576px;

@max-md: 767px;
@min-md: 768px;

@max-lg: 989px;
@min-lg: 990px;

@max-xl: 1199px;
@min-xl: 1200px;

@max-xxl: 1619px;
@min-xxl: 1620px;

:root {
	--color-dark-text: #494450;
	--color-text: #615c69;
	--color-light-text: #d2bea6;
	--font-heading: 'Bebas Neue', Arial, Helvetica, sans-serif;
	--bg-body: #f1e2cf;
	--bg-light: #e8d7c3;
	--bg-dark: #494450;
	--offset-page: 30px;
	--transition: 0.2s ease-in-out;
	--transition-delay: 0.2s;
	--transition-timing-function: ease-in-out;

	@media (min-width: @min-md) {
		--offset-page: 40px;
	}
}
