@import './layout/variable.less';

@import './layout/cource-tab.less';

@import './layout/footer.less';

.blank {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 520px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.form {
	width: 100%;
}
