<h2>Выбери курс</h2>
<a href="cource-buttocks.html" class="cource-link {% if namePage == 'cource-buttocks' %} cource-link--active {% endif %}" {% if namePage == 'cource-buttocks' %} aria-current="page" {% endif %}>
	{% include 'img/cource-icon/course_tab_buttocks.svg' %}
	Красивые ягодицы
</a>
<a href="cource-weight.html" class="cource-link {% if namePage == 'cource-weight' %} cource-link--active {% endif %}" {% if namePage == 'cource-weight' %} aria-current="page" {% endif %}>
	{% include 'img/cource-icon/course_tab_weight.svg' %}
	Похудение
</a>
<a href="cource-press.html" class="cource-link {% if namePage == 'cource-press' %} cource-link--active {% endif %}" {% if namePage == 'cource-press' %} aria-current="page" {% endif %}>
	{% include 'img/cource-icon/course_tab_press.svg' %}
	Рельефный пресс
</a>
<a href="#" class="cource-link">
	{% include 'img/cource-icon/course_tab_back.svg' %}
	Здоровая спина
</a>
