<h2>Выбери курс</h2>
<a href="cource-buttocks.html" class="cource-link {% if namePage == 'cource-buttocks' %} cource-link--active {% endif %}" {% if namePage == 'cource-buttocks' %} aria-current="page" {% endif %}>
	{% include 'img/cource-icon/course-tab-buttocks.svg' %}
	Красивые ягодицы
</a>
<a href="cource-weight.html" class="cource-link {% if namePage == 'cource-weight' %} cource-link--active {% endif %}" {% if namePage == 'cource-weight' %} aria-current="page" {% endif %}>
	{% include 'img/cource-icon/course-tab-weight.svg' %}
	Похудение
</a>
<a href="cource-body.html" class="cource-link {% if namePage == 'cource-body' %} cource-link--active {% endif %}" {% if namePage == 'cource-body' %} aria-current="page" {% endif %}>
	{% include 'img/cource-icon/course-tab-body.svg' %}
	Рельефное тело
</a>
<a href="cource-back.html" class="cource-link {% if namePage == 'cource-back' %} cource-link--active {% endif %}" {% if namePage == 'cource-body' %} aria-current="page" {% endif %}>
	{% include 'img/cource-icon/course-tab-back.svg' %}
	Здоровая спина
</a>
