<!-- card-program Любитель-->
<div class="card-program">
	<div class="card-program__top">
		<h3 class="card-program__title">Любитель</h3>
		<div class="level-program level-program--1">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<div class="card-program__icon card-program__icon--buttocks-1"></div>
	<div class="card-program__bottom">
		<a href="program.html" class="btn">Подробнее</a>
		<a href="#" class="btn btn--success">Купить курс</a>
	</div>
</div>
<!-- ./card-program -->

<!-- card-program Профессионал 1-->
<div class="card-program">
	<div class="card-program__top">
		<h3 class="card-program__title">Профессионал 1</h3>
		<div class="level-program level-program--2">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<div class="card-program__icon card-program__icon--buttocks-professional-1"></div>
	<div class="card-program__bottom">
		<a href="program.html" class="btn">Подробнее</a>
		<a href="#" class="btn btn--success">Купить курс</a>
	</div>
</div>
<!-- ./card-program -->

<!-- card-program Профессионал 2-->
<div class="card-program">
	<div class="card-program__top">
		<h3 class="card-program__title">Профессионал 2</h3>
		<div class="level-program level-program--3">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<div class="card-program__icon card-program__icon--buttocks-professional-2"></div>
	<div class="card-program__bottom">
		<a href="program.html" class="btn">Подробнее</a>
		<a href="#" class="btn btn--success">Купить курс</a>
	</div>
</div>
<!-- ./card-program -->

<!-- card-program Профессионал 3-->
<div class="card-program">
	<div class="card-program__top">
		<h3 class="card-program__title">Профессионал 3</h3>
		<div class="level-program level-program--4">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<div class="card-program__icon card-program__icon--buttocks-professional-3"></div>
	<div class="card-program__bottom">
		<a href="program.html" class="btn">Подробнее</a>
		<a href="#" class="btn btn--success">Купить курс</a>
	</div>
</div>
<!-- ./card-program -->

<!-- card-program Профессионал 4-->
<div class="card-program">
	<div class="card-program__top">
		<h3 class="card-program__title">Профессионал 4</h3>
		<div class="level-program level-program--5">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<div class="card-program__icon card-program__icon--buttocks-professional-4"></div>
	<div class="card-program__bottom">
		<a href="program.html" class="btn">Подробнее</a>
		<a href="#" class="btn btn--success">Купить курс</a>
	</div>
</div>
<!-- ./card-program -->

<!-- card-program Профессионал 5-->
<div class="card-program">
	<div class="card-program__top">
		<h3 class="card-program__title">Профессионал 5</h3>
		<div class="level-program level-program--6">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<div class="card-program__icon card-program__icon--buttocks-professional-5"></div>
	<div class="card-program__bottom">
		<a href="program.html" class="btn">Подробнее</a>
		<a href="#" class="btn btn--success">Купить курс</a>
	</div>
</div>
<!-- ./card-program -->
