<details class="faq__details details" open>
	<summary class="details__summary">Как попасть к вам на занятия?</summary>
	<div class="details__content">
		<p>Тренировки у меня пользуются большой популярностью. Чтобы уменьшить нагрузку офлайн, я разработала онлайн-тренировки. Потому вы можете начать тренироваться в любое удобное время. Для этого достаточно купить курс и активироваться в личном кабинете.</p>
	</div>
</details>

<details class="faq__details details">
	<summary class="details__summary">Как оплатить тренировку?</summary>
	<div class="details__content">
		<p>Доступны следующие виды оплаты с помощью платёжной системы «Ю Касса»:</p>

		<ul class="list">
			<li class="list__item">банковскими карточками систем Mastercard, Visa, Мир, Maestro, JCB;</li>
			<li class="list__item">с использованием GooglePay и ApplePay.</li>
		</ul>

		<p>Перейдите на страницу оплаты, подберите удобную систему расчета и в защищенном окне введите необходимые данные. Подтвердите оплату.</p>
	</div>
</details>

<details class="faq__details details">
	<summary class="details__summary">Я оплатил, но потом передумал. Можно ли вернуть деньги?</summary>
	<div class="details__content">
		<p>Доступны следующие виды оплаты с помощью платёжной системы «Ю Касса»:</p>

		<ul class="list">
			<li class="list__item">банковскими карточками систем Mastercard, Visa, Мир, Maestro, JCB;</li>
			<li class="list__item">с использованием GooglePay и ApplePay.</li>
		</ul>

		<p>Перейдите на страницу оплаты, подберите удобную систему расчета и в защищенном окне введите необходимые данные. Подтвердите оплату.</p>
	</div>
</details>
