<!-- page-footer -->
<footer class="page-footer">
	<!-- page-footer__col desktop -->
	<div class="page-footer__col col hidde-max-md">
		<!-- page-content -->
		<div class="page-footer__page-content page-content">
			<p class="copyright">
				&copy;&nbsp;2021&ndash;<span class="ryear"></span> Alina Petrova&trade;
			</p>

			<ul class="page-footer__social-list">
				<li class="page-footer__social-item">
					<a class="page-footer__social-link page-footer__social-link--instagram" href="#">
						{% include 'img/social/instagram-dark.svg' %}
						<span class="visually-hidden">Instagram.</span>
					</a>
				</li>
				<li class="page-footer__social-item">
					<a class="page-footer__social-link page-footer__social-link--vk" href="#">
						{% include 'img/social/vk-dark.svg' %}
						<span class="visually-hidden">Вконтакте.</span>
					</a>
				</li>
				<li class="page-footer__social-item">
					<a class="page-footer__social-link page-footer__social-link--youtube" href="#">
						{% include 'img/social/youtube-dark.svg' %}
						<span class="visually-hidden">Youtube.</span>
					</a>
				</li>
				<li class="page-footer__social-item">
					<a class="page-footer__social-link page-footer__social-link--telegram" href="#">
						{% include 'img/social/telegram-dark.svg' %}
						<span class="visually-hidden">Telegram.</span>
					</a>
				</li>
				<li class="page-footer__social-item">
					<a class="page-footer__social-link page-footer__social-link--facebook" href="#">
						{% include 'img/social/facebook-dark.svg' %}
						<span class="visually-hidden">Facebook.</span>
					</a>
				</li>
			</ul>
		</div>
		<!-- ./page-content -->
	</div>
	<!-- ./page-footer__col desktop -->

	<!-- page-footer__col mobile -->
	<div class="page-footer__col col hidde-min-md">
		<nav class="page-footer__nav">
			<ul class="page-footer__nav-list">
				<li class="page-footer__nav-item"><a href="#" class="page-footer__nav-link page-footer__nav-link--exercise">Тренировки</a></li>
				<li class="page-footer__nav-item"><a href="#" class="page-footer__nav-link page-footer__nav-link--food">Питание</a></li>
				<li class="page-footer__nav-item"><a href="#" class="page-footer__nav-link page-footer__nav-link--article">Статьи</a></li>
				<li class="page-footer__nav-item"><a href="#" class="page-footer__nav-link page-footer__nav-link--user">Профиль</a></li>
			</ul>
		</nav>
	</div>
	<!-- ./page-footer__col mobile -->
</footer>
<!-- ./page-footer -->
