<!-- page-footer -->
<footer class="page-footer">
	<!-- page-footer__col -->
	<div class="page-footer__col col">
		<!-- page-content -->
		<div class="page-footer__page-content page-content">
			<p class="copyright">
				&copy;&nbsp;2021&ndash;<span class="ryear"></span> Alina Petrova&trade;
			</p>

			<ul class="page-footer__social-list">
				<li class="page-footer__social-item">
					<a class="page-footer__social-link page-footer__social-link--instagram" href="#">
						{% include 'img/social/instagram.svg' %}
						<span class="visually-hidden">Instagram.</span>
					</a>
				</li>
				<li class="page-footer__social-item">
					<a class="page-footer__social-link page-footer__social-link--vk" href="#">
						{% include 'img/social/vk.svg' %}
						<span class="visually-hidden">Вконтакте.</span>
					</a>
				</li>
				<li class="page-footer__social-item">
					<a class="page-footer__social-link page-footer__social-link--youtube" href="#">
						{% include 'img/social/youtube.svg' %}
						<span class="visually-hidden">Youtube.</span>
					</a>
				</li>
				<li class="page-footer__social-item">
					<a class="page-footer__social-link page-footer__social-link--telegram" href="#">
						{% include 'img/social/telegram.svg' %}
						<span class="visually-hidden">Telegram.</span>
					</a>
				</li>
				<li class="page-footer__social-item">
					<a class="page-footer__social-link page-footer__social-link--facebook" href="#">
						{% include 'img/social/facebook.svg' %}
						<span class="visually-hidden">Facebook.</span>
					</a>
				</li>
			</ul>
		</div>
		<!-- ./page-content -->
	</div>
	<!-- ./page-footer__col -->
</footer>
<!-- ./page-footer -->
