<!-- page-header -->
<header class="page-header">
	<!-- page-header__wrap -->
	<div class="page-header__wrap">
		<div class="page-header__content">
			<!-- page-header__top -->
			<div class="page-header__top">
				<button type="button" class="page-header__nav-toggle hidde-min-xl">
					<span class="visually-hidden">Показать/Скрыть меню.</span>
				</button>

				<a href="/" aria-current="page" class="page-header__logo">
					<img width="154" height="50" src="./img/logo/logo.svg" alt="">
				</a>
			</div>
			<!-- ./page-header__top -->

			<!-- hidde-max-xl -->
			<div class="hidde-max-xl">
				<!-- page-header__user-wrap -->
				<div class="page-header__user-wrap">
					<a href="#" class="page-header__user-name">
						<span class="page-header__user-ava"></span>
						Stepanchick
					</a>

					<a href="#" class="page-header__user-exit">Выход</a>
				</div>
				<!-- ./page-header__user-wrap -->

				<!-- page-header__nav -->
				<nav class="page-header__nav">
					<ul class="page-header__nav-list">
						<li class="page-header__nav-item page-header__nav-item--catalog"><a href="#">Каталог</a></li>
						<li class="page-header__nav-item page-header__nav-item--exercise"><a href="#">Тренировки</a></li>
						<li class="page-header__nav-item page-header__nav-item--food"><a href="#">Питание</a></li>
						<!-- <li class="page-header__nav-item page-header__nav-item--progress"><a href="#">Динамика</a></li> -->
						<li class="page-header__nav-item page-header__nav-item--article"><a href="#">Статьи</a></li>
						<!-- <li class="page-header__nav-item page-header__nav-item--concourse"><a href="#">Конкурсы</a></li> -->
						<!-- <li class="page-header__nav-item page-header__nav-item--chat"><a href="#">Чат</a></li> -->
						<li class="page-header__nav-item page-header__nav-item--about"><a href="#">Об Алине</a></li>
						<li class="page-header__nav-item page-header__nav-item--faq"><a href="#">FAQ</a></li>
						<li class="page-header__nav-item page-header__nav-item--review"><a href="#">Отзывы</a></li>
					</ul>
				</nav>
				<!-- ./page-header__nav -->

				<!-- page-header__bottom -->
				<div class="page-header__bottom">
					<p>Есть вопросы? Наша служба поддержки работает 24/7. Пиши!
						<img class="emoji" width="16" height="16px" src="img/emoji/smile.svg" alt="Улыбка.">
					</p>
					<a href="#" class="page-header__bottom-btn btn">Задать вопрос</a>
				</div>
				<!-- ./page-header__bottom -->

			</div>
			<!-- ./hidde-max-xl -->
		</div>
	</div>
	<!-- ./page-header__wrap -->
</header>
<!-- ./page-header -->
