<!-- page-header -->
<header class="page-header page-header__close">
	<!-- page-header__wrap -->
	<div class="page-header__wrap">
		<div class="page-header__content">
			<!-- page-header__top -->
			<div class="page-header__top">
				<button type="button" class="page-header__nav-toggle hidde-min-xl">
					<span class="visually-hidden">Показать/Скрыть меню.</span>
				</button>

				<a href="./index.html" aria-current="page" class="page-header__logo">
					<img width="154" height="50" src="./img/logo/logo.svg" alt="">
				</a>
			</div>
			<!-- ./page-header__top -->

			<!-- page-header__toggle -->
			<div class="page-header__toggle">
				<!-- page-header__user-wrap -->
				<div class="page-header__user-wrap">
					<a href="#" class="page-header__user-name">
						<span class="page-header__user-ava"></span>
						Stepanchick
					</a>

					<a href="#" class="page-header__user-exit">Выход</a>
				</div>
				<!-- ./page-header__user-wrap -->

				<!-- page-header__nav -->
				<nav class="page-header__nav">
					<ul class="page-header__nav-list">
						<li class="page-header__nav-item">
							<a href="#">
								<svg width="24" height="24" aria-hidden="true" focusable="false">
									<use xlink:href="#catalog"></use>
								</svg>
								Каталог
							</a>
						</li>
						<li class="page-header__nav-item">
							<a href="#">
								<svg width="24" height="24" aria-hidden="true" focusable="false">
									<use xlink:href="#exercise"></use>
								</svg>
								Тренировки
							</a>
						</li>
						<li class="page-header__nav-item">
							<a href="#">
								<svg width="24" height="24" aria-hidden="true" focusable="false">
									<use xlink:href="#food"></use>
								</svg>
								Питание
							</a>
						</li>
						<!-- <li class="page-header__nav-item">
							<a href="#">
								<svg width="24" height="24" aria-hidden="true" focusable="false">
									<use xlink:href="#progress"></use>
								</svg>
								Динамика
							</a>
						</li> -->
						<li class="page-header__nav-item">
							<a href="#">
								<svg width="24" height="24" aria-hidden="true" focusable="false">
									<use xlink:href="#article"></use>
								</svg>
								Статьи
							</a>
						</li>
						<!-- <li class="page-header__nav-item">
							<a href="#">
								<svg width="24" height="24" aria-hidden="true" focusable="false">
									<use xlink:href="#concourse"></use>
								</svg>
								Конкурсы
							</a>
						</li> -->
						<!-- <li class="page-header__nav-item">
							<a href="#">
								<svg width="24" height="24" aria-hidden="true" focusable="false">
									<use xlink:href="#chat"></use>
								</svg>
								Чат
							</a>
						</li> -->
						<li class="page-header__nav-item">
							<a href="#">
								<svg width="24" height="24" aria-hidden="true" focusable="false">
									<use xlink:href="#about"></use>
								</svg>
								Об Алине
							</a>
						</li>
						<li class="page-header__nav-item">
							<a href="#">
								<svg width="24" height="24" aria-hidden="true" focusable="false">
									<use xlink:href="#faq"></use>
								</svg>
								FAQ
							</a>
						</li>
						<li class="page-header__nav-item">
							<a href="#">
								<svg width="24" height="24" aria-hidden="true" focusable="false">
									<use xlink:href="#review"></use>
								</svg>
								Отзывы
							</a>
						</li>
					</ul>
				</nav>
				<!-- ./page-header__nav -->

				<!-- page-header__bottom -->
				<div class="page-header__bottom">
					<p>Есть вопросы? Наша служба поддержки работает 24/7. Пиши!
						<img class="emoji" width="16" height="16px" src="img/emoji/smile.svg" alt="Улыбка.">
					</p>
					<a href="#" class="page-header__bottom-btn btn">Задать вопрос</a>
				</div>
				<!-- ./page-header__bottom -->

			</div>
			<!-- ./page-header__toggle -->
		</div>
	</div>
	<!-- ./page-header__wrap -->
</header>
<!-- ./page-header -->
