<h2>Выбери курс</h2>
<label class="tab__label {% if namePage == 'cource-buttocks' %} tab__label--active {% endif %}" {% if namePage == 'cource-buttocks' %} aria-current="page" {% endif %}>
	{% include 'img/cource-icon/course-tab-buttocks.svg' %}
	Красивые ягодицы
</label>
<label class="tab__label {% if namePage == 'cource-weight' %} tab__label--active {% endif %}" {% if namePage == 'cource-weight' %} aria-current="page" {% endif %}>
	{% include 'img/cource-icon/course-tab-weight.svg' %}
	Похудение
</label>
<label class="tab__label {% if namePage == 'cource-body' %} tab__label--active {% endif %}" {% if namePage == 'cource-body' %} aria-current="page" {% endif %}>
	{% include 'img/cource-icon/course-tab-body.svg' %}
	Рельефное тело
</label>
<label class="tab__label {% if namePage == 'cource-back' %} tab__label--active {% endif %}" {% if namePage == 'cource-body' %} aria-current="page" {% endif %}>
	{% include 'img/cource-icon/course-tab-back.svg' %}
	Здоровая спина
</label>
