<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

	<link rel="stylesheet" href="styles/main.css">
	<link rel="stylesheet" href="./library/swiper-8.0.7/swiper-bundle.min.css">
	<meta name="robots" content="noindex, nofollow" />
</head>

<body>

	<div class="page-grid">
		{% include 'template/header.html' %}

		<main class="page-main col">
			<div class="about">
				<h1>О тренере</h1>

				<section class="about__section about__top col">
					<h2 class="about__heading">Скульптор твоего тела
						<span>Алина Петрова</span>
					</h2>

					<p>Салют, дружок!</p>
					<p>Ромелу Лукаку официально вернулся в «Челси»: Роман Абрамович заплатил «Интеру» 115 лямов евро за бельгийского нападающего.</p>
					<p>А это значит, что Лукаку забрался наверх топа футболистов с самой большой суммой трансферов за карьеру — за все переходы Ромелу выложили более 327 миллионов.</p>
				</section>

				<!-- about__wrap -->
				<section class="about__wrap">
					<h2>сертификаты</h2>

					<div class="swiper about__list-wrap no-js">
						<div class="about__list swiper-wrapper">
							<div class="about__item swiper-slide">
								<img src="./img/certificate/2nd-regional-convention-2018.jpg" alt="Сертификат: '2я региональная конвенция 2018'">
							</div>
							<div class="about__item swiper-slide">
								<img src="./img/certificate/3rd-regional-convention-2019.jpg" alt="Сертификат: '3я региональная конвенция 2019'">
							</div>
							<div class="about__item swiper-slide">
								<img src="./img/certificate/4th-regional-convention-2019.jpg" alt="Сертификат: '4я региональная конвенция 2019'">
							</div>
							<div class="about__item swiper-slide">
								<img src="./img/certificate/churkaev-2019.jpg" alt="Сертификат: 'Чурлаев 2019'">
							</div>
							<div class="about__item swiper-slide">
								<img src="./img/certificate/ifaa-2018.jpg" alt="Сертификат: 'IFAA 2018'">
							</div>
							<div class="about__item swiper-slide">
								<img src="./img/certificate/ifaa-2019.jpg" alt="Сертификат: 'IFAA 2019'">
							</div>
							<div class="about__item swiper-slide">
								<img src="./img/certificate/mioff-2018.jpg" alt="Сертификат: 'MIOFF 2018'">
							</div>
							<div class="about__item swiper-slide">
								<img src="./img/certificate/mioff-2019.jpg" alt="Сертификат: 'MIOFF 2019'">
							</div>
							<div class="about__item swiper-slide">
								<img src="./img/certificate/mioff-2020.jpg" alt="Сертификат: 'MIOFF 2020'">
							</div>
							<div class="about__item swiper-slide">
								<img src="./img/certificate/olymp+alex-fitness.jpg" alt="Сертификат: 'olymp+alex fitness'">
							</div>
							<div class="about__item swiper-slide">
								<img src="./img/certificate/reformator-2019.jpg" alt="Сертификат: 'reformator-2019'">
							</div>
							<div class="about__item swiper-slide">
								<img src="./img/certificate/smart-fit-2017.jpg" alt="Сертификат: 'smART-FIT 2017'">
							</div>
							<div class="about__item swiper-slide">
								<img src="./img/certificate/smart-fit-2018.jpg" alt="Сертификат: 'smART-FIT 2018'">
							</div>
							<div class="about__item swiper-slide">
								<img src="./img/certificate/smart-fit-2021.jpg" alt="Сертификат: 'smART-FIT 2021'">
							</div>
							<div class="about__item swiper-slide">
								<img src="./img/certificate/x-fit-2018.jpg" alt="Сертификат: 'x-fit 2018'">
							</div>
							<div class="about__item swiper-slide">
								<img src="./img/certificate/zebra-2018.jpg" alt="Сертификат: 'zebra 2018'">
							</div>
							<div class="about__item swiper-slide">
								<img src="./img/certificate/koltovskaya-2017.jpg" alt="Сертификат: 'Колтовской 2017'">
							</div>
							<div class="about__item swiper-slide">
								<img src="./img/certificate/university-fitness-2020.jpg" alt="Сертификат: 'Университет фитнеса 2020'">
							</div>
						</div>
					</div>

					<button class="about__button about__button--prev"></button>
					<div class="swiper-pagination"></div>
					<button class="about__button about__button--next"></button>

				</section>
				<!-- about__wrap -->
			</div>
		</main>

	</div>

	{% include 'template/footer.html' %}

	<script src="./library/swiper-8.0.7/swiper-bundle.min.js"></script>
	<script>
		const swiper = new Swiper('.swiper', {
			speed: 200,
			spaceBetween: 30,
			slidesPerView: 1,
			centeredSlides: true,
			navigation: {
				nextEl: '.about__button--next',
				prevEl: '.about__button--prev',
			},
			pagination: {
				el: ".swiper-pagination",
				type: "fraction",
			},
			breakpoints: {
				320: {
					slidesPerView: 1,
				},
				768: {
					slidesPerView: 2,
				},
			}
		});

		swiper.allowSlidePrev = true;
	</script>

	<script src="scripts/main.min.js"></script>

	<div style="display: none;">
		{% include 'img/sprite.svg' %}
	</div>

	<a href="blank.html" style="position: fixed;bottom: 0;right: 0;">blank.html</a>
</body>

</html>
