<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

	<link rel="stylesheet" href="styles/main.css">
	<link rel="stylesheet" href="./library/swiper-8.0.7/swiper-bundle.min.css">
	<meta name="robots" content="noindex, nofollow" />
</head>

<body>

	<div class="page-grid">
		{% include 'template/header.html' %}

		<main class="page-main col">
			<div class="about">
				<h1>О тренере</h1>

				<section class="about__section about__top col">
					<h2 class="about__heading">Скульптор твоего тела
						<span>Алина Петрова</span>
					</h2>

					<p>Салют, дружок!</p>
					<p>Ромелу Лукаку официально вернулся в «Челси»: Роман Абрамович заплатил «Интеру» 115 лямов евро за бельгийского нападающего.</p>
					<p>А это значит, что Лукаку забрался наверх топа футболистов с самой большой суммой трансферов за карьеру — за все переходы Ромелу выложили более 327 миллионов.</p>
				</section>

				<section class="about__section about__number col">
					<div class="about__number-list">
						<div class="about__number-item">
							<p class="about__number-text"><span>37</span> работающих программ для любого уровня подготовки</p>
						</div>
						<div class="about__number-item">
							<p class="about__number-text"><span>55 000</span> общительных эмпатичных подписчиков</p>
						</div>
						<div class="about__number-item">
							<p class="about__number-text"><span>14</span> августа «Ротор» дома не осилил «Балтику»</p>
						</div>
					</div>
				</section>

				<section class="about__section about__education col">
					<h2 class="about__heading about__education-heading">Образование</h2>

					<p>В июле Зарема начала войну с топ-менеджментом «Спартака» и с каждым сообщением добавляла жёсткости. В какой-то момент она перешла на аудио, где были мощные цитаты.</p>

					<p>Одно из объяснений: глубокое погружение в дела клуба захватывало на старте, но потом утомило, от тренеров и трансферов перешли к обсуждению ответственных за продажу вип- мест. Зарема отправляла в среднем 23 сообщения в день, переварить весь этот поток оказалось не так просто.</p>
				</section>

				<article class="about__section about__quote">
					<p class="col">Уже сутки прошли после поражения
						<span>«Спартака» от «Бенфики»; кажется, в вылете</span>
						все уже обвинили друг друга</p>
				</article>

				<section class="about__section about__work">
					<p class="about__work-bg-text"><span>Моя страсть</span> Фитнес</p>

					<h2 class="about__work-heading about__heading col">Опыт работы</h2>
					<div class="about__work-content col">
						<p>Похоже, самую адекватную реакцию на поражение выдал Руй Витория: «Касаемо молодых игроков — мы всё понимаем. Чтобы играть хорошо, нам нужна революция в плане комплектования команды. Опыт игроков нам необходим для роста.</p>
						<p>Я доволен игроками, но мы все понимаем, что есть разница — играть в РПЛ и ЛЧ». Витория не скажет об этом публично, но у «Спартака» есть слабые позиции даже по меркам РПЛ — причём проблемы тянутся на протяжении нескольких сезонов.</p>
					</div>
				</section>

				<!-- about__certificates -->

				<section class="about__section about__certificates col">
					<h2 class="visually-hidden">сертификаты</h2>

					<div class="about__swiper-wrap col">
						<div class="swiper about__certificates-list-wrap no-js">
							<div class="about__certificates-list swiper-wrapper">
								<div class="about__certificates-item swiper-slide">
									<img src="./img/certificate/2nd-regional-convention-2018.jpg" alt="Сертификат: '2я региональная конвенция 2018'">
								</div>
								<div class="about__certificates-item swiper-slide">
									<img src="./img/certificate/3rd-regional-convention-2019.jpg" alt="Сертификат: '3я региональная конвенция 2019'">
								</div>
								<div class="about__certificates-item swiper-slide">
									<img src="./img/certificate/4th-regional-convention-2019.jpg" alt="Сертификат: '4я региональная конвенция 2019'">
								</div>
								<div class="about__certificates-item swiper-slide">
									<img src="./img/certificate/churkaev-2019.jpg" alt="Сертификат: 'Чурлаев 2019'">
								</div>
								<div class="about__certificates-item swiper-slide">
									<img src="./img/certificate/ifaa-2018.jpg" alt="Сертификат: 'IFAA 2018'">
								</div>
								<div class="about__certificates-item swiper-slide">
									<img src="./img/certificate/ifaa-2019.jpg" alt="Сертификат: 'IFAA 2019'">
								</div>
								<div class="about__certificates-item swiper-slide">
									<img src="./img/certificate/mioff-2018.jpg" alt="Сертификат: 'MIOFF 2018'">
								</div>
								<div class="about__certificates-item swiper-slide">
									<img src="./img/certificate/mioff-2019.jpg" alt="Сертификат: 'MIOFF 2019'">
								</div>
								<div class="about__certificates-item swiper-slide">
									<img src="./img/certificate/mioff-2020.jpg" alt="Сертификат: 'MIOFF 2020'">
								</div>
								<div class="about__certificates-item swiper-slide">
									<img src="./img/certificate/olymp+alex-fitness.jpg" alt="Сертификат: 'olymp+alex fitness'">
								</div>
								<div class="about__certificates-item swiper-slide">
									<img src="./img/certificate/reformator-2019.jpg" alt="Сертификат: 'reformator-2019'">
								</div>
								<div class="about__certificates-item swiper-slide">
									<img src="./img/certificate/smart-fit-2017.jpg" alt="Сертификат: 'smART-FIT 2017'">
								</div>
								<div class="about__certificates-item swiper-slide">
									<img src="./img/certificate/smart-fit-2018.jpg" alt="Сертификат: 'smART-FIT 2018'">
								</div>
								<div class="about__certificates-item swiper-slide">
									<img src="./img/certificate/smart-fit-2021.jpg" alt="Сертификат: 'smART-FIT 2021'">
								</div>
								<div class="about__certificates-item swiper-slide">
									<img src="./img/certificate/x-fit-2018.jpg" alt="Сертификат: 'x-fit 2018'">
								</div>
								<div class="about__certificates-item swiper-slide">
									<img src="./img/certificate/zebra-2018.jpg" alt="Сертификат: 'zebra 2018'">
								</div>
								<div class="about__certificates-item swiper-slide">
									<img src="./img/certificate/koltovskaya-2017.jpg" alt="Сертификат: 'Колтовской 2017'">
								</div>
								<div class="about__certificates-item swiper-slide">
									<img src="./img/certificate/university-fitness-2020.jpg" alt="Сертификат: 'Университет фитнеса 2020'">
								</div>
							</div>
						</div>
					</div>

					<div class="about__certificates-wrap-nav">
						<button class="about__certificates-nav-button about__certificates-nav-button--prev"></button>
						<div class="swiper-pagination"></div>
						<button class="about__certificates-nav-button about__certificates-nav-button--next"></button>
					</div>

				</section>
				<!-- about__certificates -->
			</div>
		</main>

	</div>

	{% include 'template/footer.html' %}

	<script src="./library/swiper-8.0.7/swiper-bundle.min.js"></script>
	<script>
		const swiper = new Swiper('.swiper', {
			speed: 400,
			spaceBetween: 30,
			slidesPerView: 1,
			centeredSlides: true,
			navigation: {
				nextEl: '.about__certificates-nav-button--next',
				prevEl: '.about__certificates-nav-button--prev',
			},
			pagination: {
				el: ".swiper-pagination",
				type: "fraction",
			},
			breakpoints: {
				768: {
					spaceBetween: 70,
				},
			}
		});
	</script>

	<script src="scripts/main.min.js"></script>

	<div style="display: none;">
		{% include 'img/sprite.svg' %}
	</div>

	<a href="blank.html" style="position: fixed;bottom: 0;right: 0;">blank.html</a>
</body>

</html>
