<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

	<link rel="stylesheet" href="styles/main.css">
	<link rel="stylesheet" href="styles/blank.css">
	<link rel="stylesheet" href="styles/form.css">
	<link rel="stylesheet" href="styles/form-media.css">
	<meta name="robots" content="noindex, nofollow" />
</head>

<body>

	<div class="page-grid">
		{% include 'template/header.html' %}

		<main class="page-main col">

			<div class="blank">

				<details class="details">
					<summary class="details__summary">
						<span>День 1</span>
						<input type="checkbox" name="name" id="id34343">
					</summary>

					<div class="details_content">
						<p>This is text.</p>
					</div>

				</details>

				<!-- card-program Любитель-->
				<div class="card-program">
					<div class="card-program__top">
						<h3 class="card-program__title">Любитель</h3>
						<div class="level-program level-program--1">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
					<div class="card-program__icon card-program__icon--weight-1"></div>
					<div class="card-program__bottom">
						<a href="program.html" class="btn">Подробнее</a>
						<a href="#" class="btn btn--success">Купить курс</a>
					</div>
				</div>
				<!-- ./card-program -->

				<!-- card-program Профессионал 1-->
				<div class="card-program">
					<div class="card-program__top">
						<h3 class="card-program__title">Профессионал 1</h3>
						<div class="level-program level-program--2">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
					<div class="card-program__icon card-program__icon--weight-professional-1"></div>
					<div class="card-program__bottom">
						<a href="program.html" class="btn">Подробнее</a>
						<a href="#" class="btn btn--success">Купить курс</a>
					</div>
				</div>
				<!-- ./card-program -->

				<a href="#" class="cource-link cource-link--active">
					{% include 'img/cource-icon/course_tab_buttocks.svg' %}
					Красивые ягодицы
				</a>

				<a href="#" class="cource-link">
					{% include 'img/cource-icon/course_tab_buttocks.svg' %}
					Красивые ягодицы
				</a>

				<a href="#" class="btn btn--text-small">Вернуть как было</a>
				<hr>
				<button class="btn btn--text-small">Вернуть как было</button>
				<hr>
				<button class="btn btn--text-small" disabled>Вернуть как было</button>
				<hr>
				<a href="#" class="btn btn--success">Сменить пароль</a>
				<hr>
				<button class="btn btn--success">Сменить пароль</button>
				<hr>
				<button class="btn btn--success" disabled>Сменить пароль</button>

				<hr>
				<form action="#" method="get" class="form">

					<div class="form__social form__social--js">
						<div class="form__select-icon--js">
							<select name="social" id="social" class="form__control">
								<option value="instagram">Instagram</option>
								<option value="telegram">Telegram</option>
								<option value="vk">Vk</option>
								<option value="facebook">Facebook</option>
							</select>
						</div>
						<div class="form__social-input-wrap">
							<input class="form__control" type="text" placeholder="instagram" name="instagram">
							<input class="form__control" type="text" placeholder="telegram" name="telegram">
							<input class="form__control" type="text" placeholder="vk" name="vk">
							<input class="form__control" type="text" placeholder="facebook" name="facebook">
						</div>
					</div>

					<div class="form__grid">
						<label for="height" class="form__label">Рост (см)</label>
						<div class="form__number-wrap--js">
							<button type="button" class="form__control form__button-minus" aria-label="Меньше." style="display: none;"></button>
							<input type="number" id="height" class="form__control form__number" min="100" max="250" step="5" placeholder="185" value="185" required>
							<button type="button" class="form__control form__button-plus" aria-label="Больше." style="display: none;"></button>
						</div>

						<label for="weight" class="form__label">Вес (кг)</label>
						<div class="form__number-wrap--js">
							<button type="button" class="form__control form__button-minus" aria-label="Меньше." style="display: none;"></button>
							<input type="number" id="weight" class="form__control form__number" min="25" max="250" step="0.5" placeholder="50" value="50" required>
							<button type="button" class="form__control form__button-plus" aria-label="Больше." style="display: none;"></button>
						</div>
					</div>

					<fieldset class="form__fieldset">
						<legend class="form__legend">Контакты</legend>

						<label class="form__label" for="select">Страна</label>
						<div class="form__select-icon--js">
							<select name="country" id="select" class="form__control">
								<option value="RU">Российская Федерация</option>
								<option value="AM">Армения</option>
								<option value="AZ">Республика Азербайджан</option>
								<option value="BY">Республика Беларусь</option>
								<option value="BA">Босния и Герцеговина</option>
								<option value="EE">Эстонская Республика</option>
								<option value="GE">Грузия</option>
								<option value="KZ">Республика Казахстан</option>
								<option value="KG">Киргизская Республика</option>
								<option value="LV">Латвийская Республика</option>
								<option value="LT">Литовская Республика</option>
								<option value="MD">Республика Молдова</option>
								<option value="TJ">Республика Таджикистан</option>
								<option value="TM">Туркменистан</option>
								<option value="UA">Украина</option>
								<option value="UZ">Республика Узбекистан</option>
							</select>
						</div>

						<div class="form__label">Пол</div>
						<div class="form__radio-wrap">
							<input id="female" class="visually-hidden form__radio" type="radio" name="gender" value="female" checked>
							<label for="female" class="form__radio-label">Женский</label>

							<input id="male" class="visually-hidden form__radio" type="radio" name="gender" value="male">
							<label for="male" class="form__radio-label">Мужской</label>

							<input id="other" class="visually-hidden form__radio" type="radio" name="gender" value="other">
							<label for="other" class="form__radio-label">Иной</label>
						</div>

						<label class="form__label" for="id">Логин</label>
						<input class="form__control" id="id" type="text" value="name" required>

						<label class="form__label" for="id1">Почта</label>
						<input class="form__control" id="id2" type="email" placeholder="some@mail.ru" required>

						<label class="form__label" for="id1">Пароль</label>
						<div class="form__password form__password--js">
							<button type="button" class="form__password-toggle" style="display: none;" tabindex="-1"></button>
							<input class="form__control" id="id3" type="password" value="name" required>
						</div>

					</fieldset>

					<fieldset class="form__fieldset">
						<legend class="form__legend">Уведомления</legend>
						<div class="form__checkbox-wrap">

							<label for="subscription" class="form__checkbox-label">
								<input type="checkbox" id="subscription" name="subscription" class="visually-hidden form__checkbox" checked>
								<span class="form__checkbox-view"></span>
								Хочу получать рассылки по почте
							</label>

							<p class="form__notes">Обновление питания, тренировок, ответы в чатах, промокоды, акции и скидки. Только важное и полезное</p>
						</div>
					</fieldset>

					<fieldset class="form__fieldset">
						<legend class="form__legend">отключенные элементы</legend>

						<label class="form__label" for="select1">Страна</label>
						<div class="form__select-icon--js">
							<select name="country" id="select1" class="form__control" disabled>
								<option value="RU">Российская Федерация</option>
								<option value="AM">Армения</option>
								<option value="AZ">Республика Азербайджан</option>
								<option value="BY">Республика Беларусь</option>
								<option value="BA">Босния и Герцеговина</option>
								<option value="EE">Эстонская Республика</option>
								<option value="GE">Грузия</option>
								<option value="KZ">Республика Казахстан</option>
								<option value="KG">Киргизская Республика</option>
								<option value="LV">Латвийская Республика</option>
								<option value="LT">Литовская Республика</option>
								<option value="MD">Республика Молдова</option>
								<option value="TJ">Республика Таджикистан</option>
								<option value="TM">Туркменистан</option>
								<option value="UA">Украина</option>
								<option value="UZ">Республика Узбекистан</option>
							</select>
						</div>

						<div class="form__label">Пол</div>
						<div class="form__radio-wrap">

							<input id="female1" class="visually-hidden form__radio" type="radio" name="gender1" value="female" checked disabled>
							<label for="female1" class="form__radio-label">Женский</label>

							<input id="male1" class="visually-hidden form__radio" type="radio" name="gender1" value="male" disabled>
							<label for="male1" class="form__radio-label">Мужской</label>

							<input id="other1" class="visually-hidden form__radio" type="radio" name="gender1" value="other" disabled>
							<label for="other1" class="form__radio-label">Иной</label>

						</div>

						<div class="form__grid">
							<label class="form__label" for="id1">Логин</label>
							<input class="form__control" id="id1" type="text" value="name" required disabled>

							<label class="form__label" for="id11">Почта</label>
							<input class="form__control" id="id11" type="email" placeholder="some@mail.ru" required disabled>
						</div>

						<div class="form__checkbox-wrap">

							<label for="subscription1" class="form__checkbox-label">
								<input type="checkbox" id="subscription1" name="subscription1" class="visually-hidden form__checkbox" checked disabled>
								<span class="form__checkbox-view"></span>
								Хочу получать рассылки по почте
							</label>

							<p class="form__notes">Обновление питания, тренировок, ответы в чатах, промокоды, акции и скидки. Только важное и полезное</p>
						</div>

						<label for="height1" class="form__label">Рост (см)</label>
						<div class="form__number-wrap--js">
							<button type="button" class="form__control form__button-minus" aria-label="Меньше." style="display: none;" disabled></button>
							<input type="number" id="height1" class="form__control form__number" min="100" max="250" step="5" placeholder="185" required disabled>
							<button type="button" class="form__control form__button-plus" aria-label="Больше." style="display: none;" disabled></button>
						</div>
					</fieldset>

					<hr>
					<button type="submit" class="btn btn--success">Сохранить всё</button>
				</form>
			</div>
		</main>

	</div>

	{% include 'template/footer.html' %}

	<script src="scripts/main.min.js"></script>

	<div style="display: none;">
		{% include 'img/sprite.svg' %}
	</div>

</body>

</html>
