<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

	<link rel="stylesheet" href="styles/main.css">
	<meta name="robots" content="noindex, nofollow" />
</head>

<body>

	<div class="page-grid">
		{% include 'template/header.html' %}

		<main class="page-main col">
			<div>
				<!-- cource-wrap-link -->
				<div class="cource-wrap-link">
					{% include 'template/cource-link.html' %}
				</div>
				<!-- ./cource-wrap-link -->

				<!-- cource-wrap-level -->
				<div class="cource-wrap-level">
					<h2>Выбери уровень</h2>

					<!-- card-program Любитель-->
					<div class="card-program">
						<div class="card-program__top">
							<h3 class="card-program__title">Любитель</h3>
							<div class="level-program level-program--1">
								<span></span>
								<span></span>
								<span></span>
							</div>
						</div>
						<div class="card-program__icon card-program__icon--weight-1"></div>
						<div class="card-program__bottom">
							<a href="program.html" class="btn">Подробнее</a>
							<a href="#" class="btn btn--success">Купить курс</a>
						</div>
					</div>
					<!-- ./card-program -->

					<!-- card-program Профессионал 1-->
					<div class="card-program">
						<div class="card-program__top">
							<h3 class="card-program__title">Профессионал 1</h3>
							<div class="level-program level-program--2">
								<span></span>
								<span></span>
								<span></span>
							</div>
						</div>
						<div class="card-program__icon card-program__icon--weight-professional-1"></div>
						<div class="card-program__bottom">
							<a href="program.html" class="btn">Подробнее</a>
							<a href="#" class="btn btn--success">Купить курс</a>
						</div>
					</div>
					<!-- ./card-program -->

					<!-- card-program Профессионал 2-->
					<div class="card-program">
						<div class="card-program__top">
							<h3 class="card-program__title">Профессионал 2</h3>
							<div class="level-program level-program--3">
								<span></span>
								<span></span>
								<span></span>
							</div>
						</div>
						<div class="card-program__icon card-program__icon--weight-professional-2"></div>
						<div class="card-program__bottom">
							<a href="program.html" class="btn">Подробнее</a>
							<a href="#" class="btn btn--success">Купить курс</a>
						</div>
					</div>
					<!-- ./card-program -->

					<!-- card-program Профессионал 3-->
					<div class="card-program">
						<div class="card-program__top">
							<h3 class="card-program__title">Профессионал 3</h3>
							<div class="level-program level-program--4">
								<span></span>
								<span></span>
								<span></span>
							</div>
						</div>
						<div class="card-program__icon card-program__icon--weight-professional-3"></div>
						<div class="card-program__bottom">
							<a href="program.html" class="btn">Подробнее</a>
							<a href="#" class="btn btn--success">Купить курс</a>
						</div>
					</div>
					<!-- ./card-program -->

					<!-- card-program Профессионал 4-->
					<div class="card-program">
						<div class="card-program__top">
							<h3 class="card-program__title">Профессионал 4</h3>
							<div class="level-program level-program--5">
								<span></span>
								<span></span>
								<span></span>
							</div>
						</div>
						<div class="card-program__icon card-program__icon--weight-professional-4"></div>
						<div class="card-program__bottom">
							<a href="program.html" class="btn">Подробнее</a>
							<a href="#" class="btn btn--success">Купить курс</a>
						</div>
					</div>
					<!-- ./card-program -->

					<!-- card-program Профессионал 5-->
					<div class="card-program">
						<div class="card-program__top">
							<h3 class="card-program__title">Профессионал 5</h3>
							<div class="level-program level-program--6">
								<span></span>
								<span></span>
								<span></span>
							</div>
						</div>
						<div class="card-program__icon card-program__icon--weight-professional-5"></div>
						<div class="card-program__bottom">
							<a href="program.html" class="btn">Подробнее</a>
							<a href="#" class="btn btn--success">Купить курс</a>
						</div>
					</div>
					<!-- ./card-program -->

				</div>
				<!-- ./cource-wrap-level -->
			</div>
		</main>

	</div>

	{% include 'template/footer.html' %}

	<script src="scripts/main.min.js"></script>

	<div style="display: none;">
		{% include 'img/sprite.svg' %}
	</div>

	<a href="blank.html" style="position: fixed;bottom: 0;right: 0;">blank.html</a>
</body>

</html>
