<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

	<link rel="stylesheet" href="styles/main.css">
	<link rel="stylesheet" href="./library/details/main.min.css">
	<meta name="robots" content="noindex, nofollow" />
</head>

<body>

	<div class="page-grid">
		{% include 'template/header.html' %}

		<main class="page-main col">
			<div class="faq">
				<h1>Ответы на вопросы</h1>

				<!-- tab__wrap-label -->
				<div class="tab__wrap-label faq__wrap-label">
					<label for="tabs-1" data-before="a" class="faq__label tab__label tab__label--js" tabindex="0">
						Общие темы
					</label>
					<label for="tabs-2" data-before="b" class="faq__label tab__label tab__label--js" tabindex="0">
						О тренировках
					</label>
					<label for="tabs-3" data-before="c" class="faq__label tab__label tab__label--js" tabindex="0">
						О питании
					</label>
				</div>
				<!-- ./tab__wrap-label -->

				<!-- tab__wrap-content -->
				<div class="tab__wrap-content">

					<input type="radio" id="tabs-1" name="tabs-1" class="tab__radio tab__radio--js" checked>
					<div class="tab__wrap-block">
						{% include 'template/faq-a.html' %}
					</div>

					<input type="radio" id="tabs-2" name="tabs-1" class="tab__radio tab__radio--js">
					<div class="tab__wrap-block">
							<p>второй</p>
					</div>

					<input type="radio" id="tabs-3" name="tabs-1" class="tab__radio tab__radio--js">
					<div class="tab__wrap-block">
							<p>третий</p>
					</div>

				</div>
				<!-- ./tab__wrap-content -->

			</div>
		</main>

	</div>

	{% include 'template/footer.html' %}


	<script src="scripts/main.min.js"></script>
	<script src="./library/details/main.min.js"></script>

	<div style="display: none;">
		{% include 'img/sprite.svg' %}
	</div>

	<a href="blank.html" style="position: fixed;bottom: 0;right: 0;">blank.html</a>
</body>

</html>
