<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

	<link rel="stylesheet" href="styles/main.css">
</head>

<body>
	<div style="display: none;">
		{% include 'img/sprite.svg' %}
	</div>

	<div class="page-grid">
		{% include 'template/header.html' %}

		<main class="page-main col">
			<div style="height: 900px;">
				<h1>Тут будет контент</h1>
				<p>Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты. Которой страна языкового до необходимыми ее единственное дал ipsum, журчит подзаголовок рукописи возвращайся несколько, заглавных меня ему дороге заголовок ручеек!</p>
			</div>
		</main>

	</div>

	{% include 'template/footer.html' %}

	<script src="scripts/main.min.js"></script>
	<a href="blank.html" style="position: fixed;bottom: 0;right: 0;">blank.html</a>
</body>

</html>
