<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

	<link rel="stylesheet" href="styles/main.css">
	<link rel="stylesheet" href="./library/swiper-8.0.7/swiper-bundle.min.css">
</head>

<body>

	<div class="page-grid">
		{% include 'template/header.html' %}

		<main class="page-main col">
			<!-- program -->
			<div class="program">
				<header class="program__header col">
					<div class="program__heading-wrap">
						<h1 class="program__heading"><span>Курс</span> Красивые ягодицы</h1>
					</div>
					<!-- program__info -->
					<div class="program__info col">
						<ul class="program__header-list">
							<li class="program__header-item">
								<span class="program__header-list-title">Проф1</span>
								<div class="level-program level-program--2">
									<span></span>
									<span></span>
									<span></span>
								</div>
							</li>
							<li class="program__header-item">
								<strong class="program__header-list-title">1250 ₽/мес.</strong>
								<del>2500 ₽</del>
							</li>
							<li class="program__header-item">
								<span class="program__header-list-title">12×50 мин.</span>
								<span>10 часов</span>
							</li>
						</ul>
						<a href="#" class="btn btn--success hidde-max-lg">Купить курс</a>
					</div>
					<!-- ./program__info -->
				</header>

				<!-- program__description -->
				<div class="program__description">
					<p>Курс для подготовленных спортсменов. Убойные упражнения для ягодиц, прорабатывающие все группы мышц. Упражнения простые, но эффективные.</p>
					<a href="#" class="program__btn btn btn--success hidde-min-lg">Купить курс</a>

					<div class="program__description-content">
						<div class="program__description-list-wrap">

							<h2 class="program__description-title">Курс включает</h2>

							<ul class="program__description-list">
								<li class="program__description-item">12 авторских тренировок</li>
								<li class="program__description-item">Музыкальное сопровождение</li>
								<li class="program__description-item">Пример питания</li>
								<li class="program__description-item">Расчёт КБЖУ</li>
								<li class="program__description-item">Доступ в течение 45 дней</li>
							</ul>

						</div>

						<div class="inventory-wrap col">

							<h2 class="title">Инвентарь</h2>

							<button class="inventory-button inventory-button--prev"></button>
							<div class="swiper inventory-list-wrap no-js">
								<div class="inventory-list swiper-wrapper">
									<div class="inventory-item icon-stock icon-stock--mat swiper-slide">Коврик</div>
									<div class="inventory-item icon-stock icon-stock--chair swiper-slide">Стул</div>
									<div class="inventory-item icon-stock icon-stock--dumbbells swiper-slide">Гантели</div>
								</div>
							</div>
							<button class="inventory-button inventory-button--next"></button>

						</div>
					</div>

					<div class="schedule-list">
						<div class="schedule-item icon-schedule icon-schedule--extension">
							<dl>
								<dt>Разминка</dt>
								<dd>10 мин.</dd>
							</dl>
						</div>
						<div class="schedule-item icon-schedule icon-schedule--workout">
							<dl>
								<dt>Тренировка</dt>
								<dd>30 мин.</dd>
							</dl>
						</div>
						<div class="schedule-item icon-schedule icon-schedule--warmup">
							<dl>
								<dt>Растяжка</dt>
								<dd>10 мин.</dd>
							</dl>
						</div>
					</div>

				</div>
				<!-- ./program__description -->

				<details open>
					<summary class="hi sumary">summary</summary>

					<div class="details_hide">
						<p>This is text.</p>
					</div>

				</details>
			</div>
			<!-- ./program -->
		</main>

	</div>

	{% include 'template/footer.html' %}

	<script src="./library/swiper-8.0.7/swiper-bundle.min.js"></script>
	<script>
		const swiper = new Swiper('.swiper', {
			speed: 400,
			slidesPerView: 3,
			loop: true,
			navigation: {
				nextEl: '.inventory-button--next',
				prevEl: '.inventory-button--prev',
			},
		});

		swiper.allowSlidePrev = true;
	</script>

	<script src="scripts/main.min.js"></script>

	<div style="display: none;">
		{% include 'img/sprite.svg' %}
	</div>

</body>

</html>
