<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

	<link rel="stylesheet" href="styles/main.css">
	<link rel="stylesheet" href="./library/details/main.min.css">
	<link rel="stylesheet" href="styles/form.css">
	<meta name="robots" content="noindex, nofollow" />
</head>

<body>

	<div class="page-grid">
		{% include 'template/header.html' %}

		<main class="page-main col">

			<section class="training">
				<h2>Твои тренировки</h2>

				<details class="training-filter__details details">
					<summary class="details__summary col">Фильтры</summary>
					<div class="details__content">

						<form action="#" class="training-filter__form form col">
							<fieldset class="training-filter__form-grid form__fieldset col">
								<legend class="visually-hidden">Доступность</legend>
								<div class="form__checkbox-wrap">
									<label for="accessibility" class="form__checkbox-label">
										<input type="checkbox" id="accessibility" name="accessibility" class="visually-hidden form__checkbox" checked="checked"> <span class="form__checkbox-view"></span>
										<span class="form__checkbox-text">Показывать доступные тренировки </span><span>3</span></label>
								</div>
								<div class="form__checkbox-wrap">
									<label for="overdue" class="form__checkbox-label">
										<input type="checkbox" id="overdue" name="overdue" class="visually-hidden form__checkbox" checked="checked"> <span class="form__checkbox-view"></span>
										<span class="form__checkbox-text">Показывать просроченные тренировки </span><span>3</span></label>
								</div>
								<div class="form__checkbox-wrap">
									<label for="completed" class="form__checkbox-label">
										<input type="checkbox" id="completed" name="completed" class="visually-hidden form__checkbox" checked="checked" disabled> <span class="form__checkbox-view"></span>
										<span class="form__checkbox-text">Показывать завершённые тренировки </span><span>3</span></label>
								</div>
								<div class="form__checkbox-wrap">
									<label for="unpatched" class="form__checkbox-label">
										<input type="checkbox" id="unpatched" name="unpatched" class="visually-hidden form__checkbox" checked="checked"> <span class="form__checkbox-view"></span>
										Показывать неначатые тренировки <span>3</span></label>
								</div>
							</fieldset>
							<fieldset class="training-filter__form-grid form__fieldset col">
								<legend class="visually-hidden">Тренировки</legend>
								<div class="form__checkbox-wrap">
									<label for="buttocks" class="form__checkbox-label">
										<input type="checkbox" id="buttocks" name="buttocks" class="visually-hidden form__checkbox" checked="checked"> <span class="form__checkbox-view"></span>
										<span class="form__checkbox-text">Красивые ягодицы </span><span>3</span></label>
								</div>
								<div class="form__checkbox-wrap">
									<label for="body" class="form__checkbox-label">
										<input type="checkbox" id="body" name="body" class="visually-hidden form__checkbox" checked="checked"> <span class="form__checkbox-view"></span>
										<span class="form__checkbox-text">Рельефный тело </span><span>3</span></label>
								</div>
								<div class="form__checkbox-wrap">
									<label for="back" class="form__checkbox-label">
										<input type="checkbox" id="back" name="back" class="visually-hidden form__checkbox" checked="checked"> <span class="form__checkbox-view"></span>
										<span class="form__checkbox-text">Здоровая спина </span><span>3</span></label>
								</div>
							</fieldset>

							<div class="training-filter__form-wrap-button">
								<button type="button" class="btn btn--success">Выбрать всё</button>
								<button type="button" class="btn btn--text-small">Снять все выделения</button>
							</div>
						</form>

					</div>
				</details>

				<div class="training__wrap-details">
					<details class="details details--icon">
						<summary class="details__summary summary summary__icon summary__icon--buttocks col">Красивые ягодицы</summary>

						<div class="details__content col">
							<ul class="training__card-list">
								<li class="training__card-item">
									<h3 class="training__card-header">
										<span>Любитель</span>
										<span class="training__card-info">Не начата</span>
									</h3>
									<div class="training__card-icon training__card-icon--buttocks-1"></div>
									<button type="button" class="btn btn--text-small">Приступить</button>
								</li>
								<li class="training__card-item">
									<h3 class="training__card-header">
										<span>Профессионал 1</span>
										<span class="training__card-info">5 из 12</span>
									</h3>
									<div class="training__card-icon training__card-icon--buttocks-professional-1">
										<p class="training__card-error">Эта тренировка просрочена</p>
									</div>
									<button type="button" class="btn btn--success">Продлить</button>
								</li>
								<li class="training__card-item">
									<h3 class="training__card-header">
										<span>Профессионал 2</span>
										<span class="training__card-info training__card-info--passed">Пройдена</span>
									</h3>
									<div class="training__card-icon training__card-icon--buttocks-professional-2"></div>
									<button type="button" class="btn btn--text-small">Приступить</button>
								</li>
								<li class="training__card-item">
									<h3 class="training__card-header">
										<span>Профессионал 3</span>
										<span class="training__card-info">Не начата</span>
									</h3>
									<div class="training__card-icon training__card-icon--buttocks-professional-3"></div>
									<button type="button" class="btn btn--text-small">Приступить</button>
								</li>
							</ul>
						</div>
					</details>

					<details class="details details--icon">
						<summary class="details__summary summary summary__icon summary__icon--back col">Здоровая спина</summary>

						<div class="details__content col">
							<ul class="training__card-list">
								<li class="training__card-item">
									<h3 class="training__card-header">
										<span>Любитель</span>
										<span class="training__card-info">Не начата</span>
									</h3>
									<div class="training__card-icon training__card-icon--back-1"></div>
									<button type="button" class="btn btn--text-small">Приступить</button>
								</li>
							</ul>
						</div>
					</details>
				</div>
			</section>
		</main>

	</div>

	{% include 'template/footer.html' %}

	<script src="scripts/main.min.js"></script>
	<script src="./library/details/main.min.js"></script>

	<div style="display: none;">
		{% include 'img/sprite.svg' %}
	</div>

	<a href="blank.html" style="position: fixed;bottom: 0;right: 0;">blank.html</a>
</body>

</html>
